/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}

#page-header {
    background: transparent !important;
}
#footer .footer-other {
    padding: 0 !important;
}
/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}

#page-header::before {
    background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::after {
    background: transparent !important;
}

[data-theme="dark"] #page-header::after {
    background: transparent !important;
}

/* 徽标居中对齐 */
#ghbdages {
    text-align: center !important;
    display: block !important;
    width: 100% !important;
}